<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- CSS FILES START -->
    <%- include('partials/head.ejs') %>
    <!-- CSS FILES End -->
  </head>
  <!--Header End-->
  <body class="coming-soon">
    <section class="coming-soon-wrapper">
      <div class="container">
        <div class="cs-txt" style="padding: 5%">
          <div style="width: 35%; margin: auto">
            <img style="margin: auto" src="images/tlii_log.png" alt="" />
          </div>
          <p>
            <!-- Few generations ago it to seemed like the world’s resources were
            infinite. <br /> -->
            We are
            <span style="font-weight: 700">The Lead Impact Initiative.</span> We
            need your support and help to
            <span style="font-weight: 700">Stop Global Warming.</span>
          </p>
          <h1>Coming Soon</h1>
          <!-- <div class="countdown"></div> -->
          <div class="cs-newsletter-form">
            <h4>Subscribe our Newsletter</h4>
            <input type="email" class="form-control" placeholder="Your Email" />
            <button type="submit" class="subscribe">Subscribe</button>
          </div>
        </div>
      </div>
    </section>
    <!--   JS Files Start  -->
    <%- include('partials/scripts') %>
  </body>
</html>
