<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ECO HTML</title>
    <!-- CSS FILES START -->
    <%- include('partials/head.ejs') %>
    <!-- CSS FILES End -->
  </head>
  <body>
    <%- include('partials/navigation.ejs') %>
         <!--Header End-->
         <!--Inner Header Start-->
         <section class="wf100 p100 inner-header">
            <div class="container">
               <h1>Contact Us</h1>
               <!-- <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#"> Contact </a></li>
               </ul> -->
            </div>
         </section>
         <!--Inner Header End--> 
         <!--Contact Start-->
         <section class="contact-page wf100 p80">
            <div class="container">
               <div class="row">
                  <div class="col-md-6">
                     <div class="contact-form">
                        <h3>Feel Free to Contact us</h3>
                        <form id="contact">
                        <ul class="cform">
                           <li class="half pr-15">
                              <input id="fullName" type="text" class="form-control" placeholder="Full Name">
                           </li>
                           <li class="half pl-15">
                              <input id="email" type="text" class="form-control" placeholder="Email">
                           </li>
                           <li class="half pr-15">
                              <input id="phone" type="text" class="form-control" placeholder="Contact">
                           </li>
                           <li class="half pl-15">
                              <input id="subject" type="text" class="form-control" placeholder="Subject">
                           </li>
                           <li class="full">
                              <textarea id="message" class="textarea-control" placeholder="Message"></textarea>
                           </li>
                           <li class="full">
                              <input type="submit" value="Contact us" class="fsubmit">
                           </li>
                           <li class="full">                              
                              <p id="msg" class=" m-0" style="text-align: center;">  </p>
                           </li>
                        </ul>
                     </form>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="google-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3956.2190265776085!2d3.9044616141851938!3d7.441001494631796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1039ed3239baa9c1%3A0x199cf4117fbf875c!2sUniversity%20of%20Ibadan%20First%20Gate!5e0!3m2!1sen!2sng!4v1669024346450!5m2!1sen!2sng" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                     </div>
                  </div>
               </div>
            </div>
            <div class="container contact-info">
               <div class="row">
                  <div class="col-md-12">
                     <h3>Contact Information</h3>
                  </div>
                  <!--Contact Info Start-->
                  <div class="col-md-4">
                     <div class="c-info">
                        <h6>Address:</h6>
                        <p> Ibadan, Nigeria. </p>
                     </div>
                  </div>
                  <!--Contact Info End--> 
                  <!--Contact Info Start-->
                  <div class="col-md-4">
                     <div class="c-info">
                        <h6>Contact:</h6>
                        <p><strong>Phone:</strong> +234 814 847 2433</p>
                     </div>
                  </div>
                  <!--Contact Info End--> 
                  <!--Contact Info Start-->
                  <div class="col-md-4">
                     <div class="c-info">
                        <h6>Email:</h6>
                        <p>theleadimpact@gmail.com</p>
                     </div>
                  </div>
                  <!--Contact Info End--> 
               </div>
            </div>
         </section>
         <!--Contact End--> 
         <!--Footer Start-->
         <%- include('partials/footer.ejs') %>
         <!--Footer End-->
       </div>
       <!--   JS Files Start  -->    
       <%- include('partials/scripts') %>
     </body>
   </html>