<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ECO HTML</title>
    <!-- CSS FILES START -->
    <%- include('partials/head.ejs') %>
    <!-- CSS FILES End -->
  </head>
  <body>
    <%- include('partials/navigation.ejs') %>
         <!--Header End-->
         <!--Inner Header Start-->
         <section class="wf100 p100 inner-header">
            <div class="container">
               <h1>Project Details</h1>
               <!-- <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Pages </a></li>
                  <li><a href="#">Projects</a></li>
                  <li><a href="#">Solar & Wind Energies</a></li>
               </ul> -->
            </div>
         </section>
         <!--Inner Header End--> 
         <!--Blog Start-->
         <section class="wf100 p80 blog">
            <div class="blog-details">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-9 col-md-8">
                        <!--Blog Single Content Start-->
                        <div class="blog-single-content">
                           <div class="blog-single-thumb"><img src="/images/projects/pg_2_cover.jpeg" style="width: 90%;" alt="Clean-up Exercise At The University Of Ibadan Trade Fair"></div>
                           <h3>Climate Change is Real... Let's All Take Action (Continuation)</h3>
                           <ul class="post-meta">
                              <li><i class="fas fa-user-circle"></i> Akpoterai Lawrence</li>
                              <li><i class="fas fa-calendar-alt"></i> 15 October, 2022</li>
                              <li><i class="fas fa-comments"></i> 97 Comments</li>
                              <li class="tags"><i class="fas fa-tags"></i> <a href="#">Plant</a> <a href="#">Recycling</a></li>
                           </ul>
                           <h5>The Concept And Science of Climate Change</h5>
                           <p> Climate change is a long-term change or shift in temperatures and weather patterns which today is driven by the increase in the amount of greenhouse gases in the atmosphere. Greenhouse gases have become a threat to the existence of mankind because it has been introduced in excess into the atmosphere by human activities. These greenhouse house gases include water vapour, carbon dioxide, methane, nitrous oxide, and chlorofluorocarbons. The accumulation of these gases in the atmosphere creates a thick layer of gaseous blanket in the atmosphere which traps and emits excess heat energy. The more the GHGs in the atmosphere, the more the radiant energy from the sun being trapped and the more the heat emitted. This is the major factor that accounts for global warming today – a rise in global temperature – and this is increasingly affecting lifestyle, agriculture, health, and the environment. Different locations across the world have in recent times reported a change in their local and regional climate. These changes today have led to rising temperatures, frequent and intense droughts and storms, warm and rising sea levels, food insecurity, poverty and public health risks.
                           </p>
                           <div style="width: 500px; max-width: 90%; margin: auto;">
                              <img class="my-3" src="/images/projects/pg_2_2.jpeg" height="350" width="100%" alt="Hello">
                              <p class="" style="text-align: center;"><i>My first interaction with the students </i></p>
                           </div>
                           <p>Continuing the interaction with the students, they were introduced to the climate, global warming, greenhouse gases, and some evidences of climate change. I realized that the students were aware of some of these evidences within their immediate environment. They attested to increasing thermal discomfort, loss of food crops, etc., but were not aware that these were all driven by climate change. The students came to understand the truth about climate change and strongly got the message that there is an urgent need to embrace climate action.
                              Subsequent interactions with the students helped them develop a better understanding of the impacts of climate change within their immediate environment and what they can do to address these problems. The students, having been well-taught, were able to describe climate change in their own words and tell stories of the impacts that they had experienced or heard from people within their communities. A significant example is the story of a farmer who lived within the neighborhood of one of the students. The farmer had planted maize on his farm expecting the rains. The rains never came and the grains were damaged. When the rains finally came, he planted again, but this time, the rains were very intense and ended up damaging majority of the crops. This was a huge loss for him and his family and affected their income that year. It is obvious that the impacts of climate change are being felt even within our local communities, and likewise affect these students. The students also shared experiences of their exposure to harsh weather conditions which affect their abilities to learn and assimilate in class. Physiothermal discomfort is one of the challenges they reported to be faced with daily as students.</p>
                           <div style="width: 500px; max-width: 90%; margin: auto;">
                              <img class="my-3" src="/images/projects/pg_2_3.jpeg" height="350" width="100%" alt="Hello">
                              <p style="text-align: center;"><i>During one of the sessions </i></p>
                           </div>
                           <p>During one of the sessions with the students, I had asked them to study their immediate environment and identify some impacts of climate change around them. The students diligently carried out this study and came up with interesting findings, some of which are presented below:</p>
                           
                           <ul>
                              <li>Unusual and increased heat intensity</li>
                              <li>Unpredictable weather conditions</li>
                              <li>Heavy rainfall leading to the destruction of houses</li>
                              <li>Flooding affecting structures and farmlands</li>
                              <li>Wells drying up due to rainfall scarcity</li>
                              <li>Crop plants drying up in farms and gardens, among other problem</li>
                           </ul>
                           <p>It was really amazing to realize that the students can dutifully observe their environment to come up with these findings. Climate change is real and they could relate with its impacts. They became more interested and inquisitive. They had a lot of questions to ask. They wanted to know why these things were happening. They wanted to know how to be part of the solutions. Students are actually interesting to engage. They are willing to learn. They are creative, active and innovative. I further inspired them to think of solutions to the problems they had identified. Interestingly, they came up with several, some of which includes the following:</p>
                           
                           <ul>
                              <li>Stop or reduce burning to help reduce intense heat in the environment</li>
                              <li>Watering plants in gardens and farms both during the day and night</li>
                              <li>Clearing the drains and gutter to allow for free passage of excess rainfall</li>
                              
                           </ul>

                              <p>The students were happy that they have the ability to contribute to addressing these challenges. We thereafter emphasized the roles we all can play as individuals. We discussed several solutions that can be implemented on different levels. They all committed themselves to be good climate and environment ambassadors. While concluding the advocacy with them, they decided to take pictures and videos, and make placards for publicity within and outside their school. The students had really exciting things to say as they had all learnt new things and are willing to share their knowledge in various ways. One of them said, "I will tell my friends of climate change."
                                 </p>
                           <div style="display: flex; justify-content: space-around; flex-wrap: wrap;">
                              <img class="my-3" src="/images/projects/pg_2_4.jpeg" height="350"  alt="Hello">
                              <img class="my-3" src="/images/projects/pg_2_5.jpeg" height="350" alt="Hello">
                              <p><i>Students, member of staff and facilitator during a climate change campaign </i></p>
                           </div>

                           <h5> Moving forward</h5>
                           <p>Climate change is real. The impacts are far-reaching and they threaten the lives and livelihoods of people, especially the most vulnerable populations. Everyone needs to be aware, as well as contribute to tackling these impacts. To drive this awareness, climate advocacy is a necessary tool. And if we must make sustainable impacts, climate advocacy should reach the younger generation, the future of the planet. Secondary school students should continually be engaged in climate change awareness programs. If a little interaction with these secondary school students can spur their interest and creativity in taking responsibility for climate actions, howbeit when all students across Nigeria and the world at large are informed. They are part of the solutions we seek. Climate change is real, let us all take action.</p>
                          <blockquote>
                           <i>“We do not inherit the earth from our ancestors; we borrow it from our children.”</i>
                           <i class="mt-2" style="display: block; ">“Climate change is real. It is happening right now, it is the most urgent threat facing our entire species and we need to work collectively together and stop procrastinating.”</i>
                           </blockquote>



                           <!--Post Tags Start-->
                           <div class="single-post-tags wf100"> <a href="#">Solar Energy</a> <a href="#"> Plant Ecology </a> <a href="#"> Wildlife </a> <a href="#"> Eco Ideas </a> <a href="#"> Waste Management </a> <a href="#"> Water </a> <a href="#"> Forest Planting </a> <a href="#"> Donation </a> <a href="#"> Wind Energy </a> <a href="#"> Recycling </a> </div>
                          
                        </div>
                        <!--Blog Single Content End--> 
                     </div>
                     <div class="col-lg-3 col-md-4">
                        <div class="sidebar">
                           <!--Widget Start-->
                           <div class="side-widget">
                              <h5>Search</h5>
                              <div class="side-search">
                                 <form>
                                    <input type="search" class="form-control" placeholder="Search">
                                    <button><i class="fas fa-search"></i></button>
                                 </form>
                              </div>
                           </div>
                           <!--Widget End--> 
                           <!--Widget Start-->
                           <div class="side-widget">
                              <h5>News &amp; Articles</h5>
                              <ul class="lastest-products">
                                 <li> <img src="images/flp1.jpg" alt=""> <strong><a href="#">How you can keep alive wild animals for...</a></strong> <span class="pdate"><i class="fas fa-calendar-alt"></i> 29 September, 2018</span> </li>
                                 <li> <img src="images/flp2.jpg" alt=""> <strong><a href="#">Eliminate your plastic bottle pollution</a></strong> <span class="pdate"><i class="fas fa-calendar-alt"></i> 29 September, 2018</span> </li>
                                 <li> <img src="images/flp3.jpg" alt=""> <strong><a href="#">How you can keep alive wild animals for...</a></strong> <span class="pdate"><i class="fas fa-calendar-alt"></i> 29 September, 2018</span> </li>
                              </ul>
                           </div>
                           <!--Widget Start--> 
                           <!--Widget Start-->
                           <div class="side-widget project-list-widget">
                              <h5>Current Projects</h5>
                              <ul>
                                 <li><a href="#">Waste Management</a></li>
                                 <li><a href="#">Recycling Materials</a></li>
                                 <li><a href="#">Saving Wildlife</a></li>
                                 <li><a href="#">Water Resources</a></li>
                                 <li><a href="#">Forest &amp; Tree Planting</a></li>
                              </ul>
                           </div>
                           <!--Widget End--> 
                           <!--Widget Start-->
                           <div class="side-widget">
                              <h5>Tags</h5>
                              <div class="single-post-tags"> <a href="#">Solar Energy</a> <a href="#"> Plant Ecology </a> <a href="#"> Wildlife </a> <a href="#"> Eco Ideas </a> <a href="#"> Waste Management </a> <a href="#"> Water </a> <a href="#"> Forest Planting </a> <a href="#"> Donation </a> <a href="#"> Wind Energy </a> <a href="#"> Recycling </a> </div>
                           </div>
                          
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!--Blog End--> 
        <!--Footer Start-->        
      <%- include('partials/footer.ejs') %>
      <!--Footer End-->
    </div>
    <!--   JS Files Start  -->    

    <%- include('partials/scripts') %>
   </body>

</html>