<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ECO HTML</title>
    <!-- CSS FILES START -->
    <%- include('partials/head.ejs') %>
    <!-- CSS FILES End -->
  </head>
  <body>
    <%# - include('partials/navigation.ejs') %>
    <!--Header End-->
    <section
      class="wf100 p100 inner-header"
      style="height: 100vh; background-size: cover"
    >
      <div class="container">
        <h1>Blog Fullwidth</h1>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#"> Blogs </a></li>
          <li><a href="#">Blog Full with Sidebar</a></li>
        </ul>
      </div>
    </section>
  </body>
</html>
